<ol class="breadcrumb">
    <li><a class="btn btn-success" href="#">Open payBox</a></li>
    <li><a class="btn btn-default" href="#">Receive credit</a></li>
    <li><a class="btn btn-danger" href="#">Close paybox</a></li>
   
</ol>