<ol class="breadcrumb">
    <li><a class="btn btn-success" href="#" onclick="OpenPaybox();">Open payBox</a></li>
    <li><a class="btn btn-default" href="#" onclick="PayCredit();">Pay credit</a></li>
    <li><a class="btn btn-danger" href="#" onclick="ClosePaybox();">Close paybox</a></li>
    <li><a class="btn btn-default" href="#" onclick="RecieveCredit();">Recieve credit</a></li>
    
</ol>