@model Padaria.Web.Models.SaleAndIncomeViewModel

@{
    ViewBag.Title = "List";
}



<br />
<hr />
<h2 style="text-align:center">Sale List</h2>

<div class="col-md-5">
    <b>@Html.DisplayNameFor(c => c.StartDate)</b>
    @Html.TextBoxFor(c => c.StartDate, new { @class = "date-picker form-controla", @width = "20%" })
</div>

<div class="col-md-5">
    <b>@Html.DisplayNameFor(c => c.FinishDate)</b>
    @Html.TextBoxFor(c => c.FinishDate, new { @class = "date-picker form-controla", @width = "20%" })
</div>

<div class="form-inline">
    <button type="button" class="btn btn-success btn-lg">Search</button>
</div>

<br />
<br />
<br />
<br />
<div id="tbl">

</div>

<script type="text/javascript">

    $(function () {
        $('.date-picker').datepicker();
    })

    $('.btn.btn-success.btn-lg').click(function () {
        debugger;
        var startDate = $('#StartDate').val();
        var finishDate = $('#FinishDate').val();
        if (startDate == "") {

        }
        else {
            $.ajax({
                url: "/Sale/GetRangeSale",
                datatype: "html",
                type: "Get",
                data: { StartDate: startDate, FinishDate: finishDate },
                success: function (data) {
                    var tbl = data;
                    $('#tbl').html(tbl);
                }, error: function (data) {
                    debugger;

                }






            });
        }
    });
</script>

@section Scripts{
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
}
